body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100vh;
}

#list {
	height: 100%;
	width: 100%;
}

.filter-list__item, .hide {
	display: block;
	position: absolute;
	background-color: red;
	border: solid black 3px;
	width: 20%;
	height: 20%;
}

.detail {
	position: absolute;
}

#video1, #video2, #vjing1, #vjing2, #design1, #design2 {	
}

.filter-list__item p {
	font-size: 2em;
}

#show-instal, #video1, #vjing1, #design2 {
	-webkit-transition: 1s ease-out ;
	transition: 1s ease-out;	
	top: 10%;
	left: 10%
}

#show-video, .instal#instal1, #vjing2, #design1 {
	-webkit-transition: 1s ease-out ;
	transition: 1s ease-out;	
	top: 20%;
	left: 20%
}

#show-design, #instal2, #video2 {
	-webkit-transition: 1s ease-out ;
	transition: 1s ease-out;	
	top: 35%;
	left: 25%
}

#show-vjing {
	-webkit-transition: 1s ease-out ;
	transition: 1s ease-out;
	top: 32%;
	left: 15%
}

#show-instal:hover, #show-video:hover, #show-design:hover, #show-vjing:hover {
	z-index: 2;
} 

.detail {
	display: block;
	width: 20%;
	height: 20%;
	opacity: 0;
	/*z-index: -1;*/
}

.show {
	display: block;
}

.hide#show-vjing,
.hide#show-design,
.hide#show-instal,
.hide#show-video {
	-webkit-transition: 1s ease-out ;
	transition: 1s ease-out;
	position: absolute;
	top: 100%;
	/*display: none;*/
}

/*#list>div {
	display: none;
}*/

#list.show-all {
	-webkit-transition: 1s ease-out ;
	transition: 1s ease-out;
	position: absolute;
	top: -40%;
	left: 0%;
	z-index: -1;
}

#list.show-instal, 
#list.show-video, 
#list.show-vjing, 
#list.show-design {
	-webkit-transition: 1s ease-out ;
	transition: 1s ease-out;
	position: absolute;
	top: 0%;
	left: 0%;
}

/* =============== CA ================*/

#list.show-instal>.instal, 
#list.show-video>.video,
#list.show-vjing>.vjing, 
#list.show-design>.design {
	-webkit-transition: position1s ease-out ;
	transition: position 1s ease-out;
	display: block;
	width: 20%;
	height: 20%;
	background-color: blue;
	opacity: 1;
}

/* ================ OU CA ===================*/

/*
#list .instal, 
#list .video,
#list .vjing, 
#list .design {
	-webkit-transition: 1s ease-out ;
	transition: 1s ease-out;
	display: block;
	width: 20%;
	height: 20%;
	background-color: green;
}

#list.show-instal>.video,
#list.show-instal>.vjing,
#list.show-instal>.design, 
#list.show-video>.instal,
#list.show-video>.vjing,
#list.show-video>.design,
#list.show-vjing>.instal, 
#list.show-vjing>.video, 
#list.show-vjing>.design, 
#list.show-design>.instal,
#list.show-design>.video,
#list.show-design>.vjing {
	display: none;
}

*/


/* 

/* displa block + opacity */